<ul>
  <li>2012-08-17 - The Tallest Man On Earth - Newport Folk Festival</li>
  <li>2011-08-02 - Bon Iver - 930 Club</li>
  <li>2011-08-01 - The Civil Wars - Newport Folk Festival</li>
  <li>2011-07-30 - The Decemberists - Newport Folk Festival</li>
  <li>2011-07-05 - Blind Boys of Alabama</li>
  <li>2011-06-27 - The Civil Wars</li>
  <li>2011-06-20 - The Decemberists</li>
  <li>2011-03-11 - Wye Oak - In Concert</li>
  <li>2010-10-03 - The Tallest Man On Earth - 930 Club</li>
  <li>2010-08-01 - Punch Brothers - Newport Folk Festival</li>
  <li>2009-10-15 - Moby - Live In Berlin</li>
  <li>2009-08-01 - Avett Brothers - Newport Folk Festival</li>
  <li>2009-05-28 - 'Dark Was The Night' - From Radio City Music Hall</li>
  <li>2008-09-05 - Radiohead - Live In Concert</li>
  <li>2007-09-29 - Iron and Wine - In Concert</li>
</ul>
