body { margin-top: 1.0em; background: #fff; font-family: "Helvetica,Arial,FreeSans"; color: #000; }
#container { margin: 0 auto; width: 700px; }
h1, h1 a, h2, h2 a, h3, h3 a { color: #333; }
h1 { font-size: 3.8em; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; }
h3 { font-size:1.2em; }
a { color: #2f6b9e; }
img { border: 0; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { margin: 0; padding: 15px; background: #000; color: #fff; }
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }

.details { border-left: 5px solid #ccc; padding-left: 20px; }
.current { margin: 0 -5px; padding: 0 5px; background: #fffde0; }
.note { color: #f66; }

#static_concerts { clear: both; }

#description_icons > div { position: relative; float: left; width: 15em; }
#description_icons .music_big { top: 20px; }
#description_icons .split_arrow { top: 25px; width: 10%; }
#description_icons .music_lil { margin-bottom: -1em; }
#description_icons .music_lil > span { display: block; }
#description_icons img { position: relative; vertical-align: bottom; }
#description_icons .music_big img { top: 2px; }
#description_icons .music_lil img { top: -3px; }
#description_icons .lil_4 { opacity: .4; }
#description_icons .lil_5 { opacity: .1; }

.license img { float: right; margin-left: 5px; }

/* clearfix via http://perishablepress.com/press/2009/12/06/new-clearfix-hack/ */
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; }  /* IE7 */
.clearfix:after { display: block; visibility: hidden; clear: both; content: " "; height: 0; font-size: 0; } /* everyone else */
