<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="author" content="Marcos Wright Kuhns" />
  <meta name="keywords" content="concert, audio, music, split, tracks, audacity, npr" />
  
  <title>The Concert-Split Project</title>
  <link charset="utf-8" href="/stylesheets/base.css?4" rel="stylesheet" type="text/css" />
  <link charset="utf-8" href="/stylesheets/colorbox.css?2" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.colorbox-min.js?1"></script>
  <script type="text/javascript" src="/javascripts/base.js?6"></script>
</head>
<body>
  
<a href="http://github.com/metavida/concert-split"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

<div id="container">
  <h1><a href="/" xmlns:cc="http://creativecommons.org/ns#" rel="cc:attributionURL">The Concert-Split Project</a></h1>
  
  <p class="description">
    A collaborative effort to make it simpler to split live, concert audio into individual tracks. Initially focusing on the excellent NPR music collection.
  </p>
  
  {{ content }}
</div>

<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=5863656; 
var sc_invisible=1; 
var sc_security="294f8c69"; 
</script>

<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div
class="statcounter"><a title="vBulletin stats"
href="http://www.statcounter.com/vbulletin/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/5863656/0/294f8c69/1/"
alt="vBulletin stats" ></a></div></noscript>
<!-- End of StatCounter Code -->

</body>
</html>
